body {
    font-family: sans-serif;
    background:#d1c4e9;
}

h1 {
    text-align: center;
    font-size: 60px;
    background-color:lightgray;
}

h2{
    font-size: 40px;
    background-color: peru;
}

a {
    font-size: 20px;
    color:white;
    text-decoration:1px;
}

p, table {
    font-size: 20px;
}

table{
    background-color: lightyellow;
    text-align: center;
    border-collapse: collapse;
}

td{
    border: 1px solid brown;
}

footer{
    text-align: center;
}

main{
    background-color:lightgray;
}
